
*,::before,
::after{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


 // variables
  $bg-color-primary: hsla(240, 67%, 8%, 1);
  $font-color-grey: rgb(85, 85, 85) ;

  
  // break points 
  $bp-desktop: 900px;


html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem is equal to 10px 
    scroll-behavior: smooth;
    
}

body {
    background-color: $bg-color-primary;
    color: #fff;
    background-image: url(/assets/background-stars.svg);
    mix-blend-mode:lighten;
    z-index: -1000;
    padding: 2rem;
    @media only screen and (min-width: $bp-desktop){
        
    }

}

.wrapper {
    display: grid;
}