*, ::before,
::after {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(240deg, 67%, 8%);
  color: #fff;
  background-image: url(/assets/background-stars.svg);
  mix-blend-mode: lighten;
  z-index: -1000;
}
@media only screen and (min-width: 900px) {
  body {
    padding: 2rem;
  }
}

.wrapper {
  display: grid;
}

header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media only screen and (min-width: 900px) {
  header {
    height: 10vh;
  }
}
header nav {
  padding: 2rem;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
header nav h1 {
  font-size: 2rem;
}
header nav .desktop-ver {
  display: none;
}
@media only screen and (min-width: 900px) {
  header nav h1 {
    width: 40rem;
    font-size: 4rem;
    align-self: center;
    padding-top: 1rem;
  }
  header nav #menu {
    display: none;
  }
  header nav .desktop-ver {
    display: flex;
    justify-content: flex-end;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    border: none;
  }
  header nav .desktop-ver #active {
    background-color: aqua;
    height: 0.3rem;
    position: absolute;
    left: 0;
    bottom: -0.6rem;
    width: 100%;
  }
  header nav .desktop-ver .nav-lis {
    position: relative;
  }
}

ul {
  list-style-type: none;
  padding: 1rem 0;
  border: solid;
  border-left: none;
  border-right: none;
  border-width: 0.1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (min-width: 900px) {
  ul {
    border: none;
  }
}
ul .mobile_list {
  font-size: 1.5rem;
  color: rgb(85, 85, 85);
  padding: 1rem;
}
@media only screen and (min-width: 900px) {
  ul {
    border-top: none;
  }
  ul .mobile_list {
    display: none;
  }
  ul .destop_list {
    display: flex;
    justify-content: space-around;
    font-size: 1.9rem;
    padding-top: 1.3rem;
  }
  ul .destop_list a {
    text-decoration: none;
    color: #fff;
  }
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
@media only screen and (min-width: 900px) {
  main {
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    justify-content: end;
  }
}

.content-svg {
  width: 100%;
  height: 70%;
}
@media only screen and (min-width: 900px) {
  .content-svg {
    width: 100%;
    height: 60%;
  }
}

.main-content {
  text-align: center;
  padding: 7rem;
  line-height: 1.9rem;
}
.main-content .btn-desktop {
  display: none;
}
@media only screen and (min-width: 900px) {
  .main-content {
    text-align: left;
    padding: 16rem;
  }
  .main-content .btn-desktop {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .main-content .btn {
    padding: 2rem 8rem;
    background-color: hsl(240deg, 67%, 8%);
    color: #fff;
    border: solid;
    border-color: rgba(128, 128, 128, 0.514);
  }
  .main-content .btn:hover {
    background-color: blueviolet;
    color: #fff;
  }
}
.main-content .main_conten_head {
  padding-bottom: 2rem;
  font-size: 4rem;
}
@media only screen and (min-width: 900px) {
  .main-content .main_conten_head {
    font-size: 6rem;
  }
}

.sidebaar {
  display: none;
}
@media only screen and (min-width: 900px) {
  .sidebaar {
    display: none;
  }
}
.sidebaar .sidebarNav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.sidebaar .sidebarNav .sidebartitle {
  font-size: 2rem;
}
.sidebaar .side_list {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-between;
  padding-top: 5rem;
  border: none;
}
.sidebaar .side_list .side {
  border: solid;
  padding: 2.5rem 0;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem;
}
.sidebaar .side_list .side:hover {
  background-color: rgb(70, 60, 201);
  color: antiquewhite;
}
.sidebaar .side_icons {
  width: 3rem;
  height: 3rem;
}

footer .footer_list {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
@media only screen and (min-width: 900px) {
  footer .footer_list {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    width: auto;
  }
}
footer .foo_list {
  border: solid rgb(117, 116, 116);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (min-width: 900px) {
  footer .foo_list {
    flex-direction: column;
    padding: 6rem 6rem;
    align-items: flex-start;
    border-width: 0.01rem;
    font-weight: 300;
    align-self: flex-start;
  }
}
footer span {
  font-size: 2rem;
}
@media only screen and (min-width: 900px) {
  footer span {
    font-size: 3rem;
    font-weight: 700;
  }
}/*# sourceMappingURL=main.css.map */